In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings

import plotly.express as px
import plotly.graph_objects as go

warnings.filterwarnings('ignore')

In [9]:
df_A = pd.read_csv('Data Supermarket X A.csv')
df.head()

,Invoice ID,Tanggal,Customer type,Gender,Product line,Quantity,Total
0,651-88-7328,1/1/2019 13:55,Normal,Female,Fashion accessories,9,621.243
1,765-26-6951,1/1/2019 10:39,Normal,Male,Sports and travel,6,457.443
2,182-52-7000,1/1/2019 20:26,Member,Female,Sports and travel,4,113.568
3,530-90-9855,1/1/2019 14:47,Member,Male,Home and lifestyle,8,399.756
4,416-17-9926,1/1/2019 14:42,Member,Female,Electronic accessories,10,779.310

In [4]:
len(df)

119